<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.jaegyu.mybatis.mapper.BookMapper">


	<resultMap type="me.jaegyu.mybatis.model.Book" id="book">
		<id column="id" property="id" />
		<id column="name" property="name" />
		<id column="price" property="price" />
	</resultMap>

	<select id="findAll" resultMap="book">
		select * from books
	</select>
</mapper>